body{

    background: lightblue;
    font-family: Calibri,Candara,Segoe,Segoe
    UI,Optima,Arial,sans-serif;
	
}

h1{

    width: 100%;
    text-align: center;
	
}

p{
    width: 100%;
    text-align: center;
}